/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

body {
    font-family: 'Exo', sans-serif;
    background-color: #7067CF;
}

h1 {
    text-align: center;
    font-size: x-large;
    animation-name: descend;
    animation-duration: 1s;
    color: #e54b4b;
    position: relative;
}

#controls-container {
    text-align: center;
}

.controls-btn {
    background-color: #e54b4b
}

@keyframes descend {
    0% {
        top: -50px;
    }

    100% {
        top: 0;
    }
}